@import 'base/variables';
@import 'base/mixins';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/form';
@import 'blocks/search';
@import 'blocks/title';
@import 'blocks/featured';
@import 'blocks/block';
@import 'blocks/join';
@import 'blocks/why';
@import 'blocks/footer';

