.main {
    padding-top: 70px;
    min-height: 440px;
    &_bottom {
        padding-top: 136px;   
    }
    &__wrapper {
        padding: 0 24px 0 113px;
        display: flex;
        justify-content: space-between;
        &_bottom {
            padding: 0 113px
        }
    }
    &__title {
        font-size: 55px;
        line-height: 68px;
        letter-spacing: 1.8px;
        font-weight: normal;
    }
    &__subheader {
        margin-top: 47px;
        font-size: 20px;
        line-height: 28px;
        font-weight: normal;
    }
}